h1, h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

strong {
	font-weight:bold;
}

body {
	background-color: grey;
}

.page {
	width: 1380px;
	background-color: #FAF9F6;
	margin: auto;
	padding: 50px;
	padding-left: 15px;
	padding-top: 35px
}

.map {
	margin-bottom: 20px;
}

.text {
	margin-top: 35px;
	margin-left: 200px;
}